.fade-enter {
    opacity: 0.01;
    transform: scale(0.9) translateX(110%);
}

.fade-enter-active {
    opacity: 1;
    transition: all 200ms ease-in;
    transform: scale(1) translateX(0%);
}
.fade-exit {
    opacity: 1;
    transform: scale(1) translateX(0%);
}
.fade-exit-active {
    opacity: 0.01;
    transition: all 200ms ease-out;
    transform: scale(0.9) translateX(110%);
}